/* mapa.css */
.leaflet-marker-icon {
  background-image: url('/images/marker-icon.png'); /* Ruta a la imagen del marcador */
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px; /* Ajusta el ancho del marcador */
  height: 41px; /* Ajusta la altura del marcador */
  border: none; /* Elimina el borde */
  box-shadow: none; /* Elimina la sombra */
  text-indent: -9999px; /* Oculta cualquier texto */
  overflow: hidden; /* Asegura que no haya contenido adicional visible */
}

.leaflet-marker-shadow {
  background-image: url('/images/marker-shadow.png'); /* Ruta a la imagen de la sombra */
  background-size: contain;
  background-repeat: no-repeat;
  width: 41px; /* Ajusta el ancho de la sombra */
  height: 41px; /* Ajusta la altura de la sombra */
  border: none; /* Elimina el borde */
  box-shadow: none; /* Elimina la sombra */
  text-indent: -9999px; /* Oculta cualquier texto */
  overflow: hidden; /* Asegura que no haya contenido adicional visible */
}